{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/refer_list.css' %}">
    <title>참고자료나 사이트</title>
{% endblock %}
{% block body %}
    <table>
        <tr>
            <th>제목</th>
            <th>주제</th>
            <th>주소</th>
            <th>작성일자</th>
            <th></th>
        </tr>
        {% for post in post_list %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.subject }}</td>
                <td><a href="{{ post.address }}">{{ post.address }}</a></td>
                <td>{{ post.created_at }}</td>
                <td><button><a href="{% url 'blog:refer-delete' post.pk %}">삭제</a></button></td>
            </tr>
        {% endfor %}
    </table>
    <button><a href="{% url 'blog:refer-create' %}">글쓰기</a></button>
{% endblock %}